{% extends "report.html" %}

{% block content %}
    <h1>Lista de Materiais</h1>
    <table class="table">
        <tr>
            <th width="60px">#</th>
            <th align="left">Produto</th>
            <th width="150px">Quantidade</th>
            <th width="150px">Unidade</th>
        </tr>
        {% for produto, quantidade, unidade_medida in planilha.get_lista_produtos() %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ produto }}</td>
            <td align="right">{{ quantidade }}</td>
            <td>{{ unidade_medida }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}