{% extends "report.html" %}

{% block content %}
    <h1>Relatório de Treinamento por Funcionário</h1>
    <table class="table">
        <tr>
            <th width="60px">#</th>
            <th>Funcionário</th>
            <th>Treinamentos Em Dia</th>
            <th>Treinamentos Pendentes</th>
        </tr>
        {% for funcionario in funcionarios %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ funcionario }}</td>
            <td>
                <ul>
                    {% for tipo_treinamento in funcionario.get_treinamentos_em_dia() %}
                        <li>{{ tipo_treinamento }}</li>
                    {% endfor %}
                </ul>
            </td>
            <td>
                <ul>
                    {% for tipo_treinamento in funcionario.get_treinamentos_pendentes() %}
                        <li>{{ tipo_treinamento }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}