{% extends "admin.html" %}
{% block content %}
    <div class="padding-md">
        <div class="row">
            <div class="col-lg-12">
                {{ form }}
            </div>
        </div>
        {% if request.POST  %}
        {% if qs_contas_pagar.exists or qs_contas_receber.exists %}
            <div class="row">
                    <div class="col-lg-12">
                        {{ balancete_geral|safe }}
                    </div>
                    <div class="col-lg-12">
                        {{ tabela_contas_pagar|safe }}
                    </div>
                    <div class="col-lg-12">
                        {{ tabela_contas_receber|safe }}
                    </div>
            </div>
            <div class="row">
                    <div class="col-sm-12 col-lg-6">
                        {{ tabela_despesas_por_tipo|safe }}
                    </div>
                    <div class="col-sm-12 col-lg-6">
                        <div>
                        {{ grafico_despesas_por_tipo|safe }}
                        </div>
                    </div>
            </div>
            <div class="row">
                    <div class="col-sm-12 col-lg-6">
                        {{ tabela_receitas_por_tipo|safe }}
                    </div>
                    <div class="col-sm-12 col-lg-6">
                        <div>
                        {{ grafico_receitas_por_tipo|safe }}
                        </div>
                    </div>
            </div>
        {% else %}
            <br/>
            <div class="alert alert-warning">Nenhum registro encontrado.</div>
        {% endif %}
        {% endif %}

    </div>
{% endblock %}