{% extends "admin.html" %}

{% block content %}
    <div class="padding-md">
        <h1>Nota Fiscal (XML)</h1>
        <textarea rows="20" style="width: 100%" readonly="readonly">{{ xml }}</textarea>
    </div>
{% endblock %}

